:root{
  --nav-title-font-size: 2rem;
  --nav-title-font-weight: bold;
  --nav-link-font-weight: 500;
}

.footer{
  border-top: solid black 1px;
  margin-top: 5rem;
}

.footer__heading{
  text-decoration: none;
  font-size: var(--nav-title-font-size);
  font-weight: var(--nav-title-font-weight);
}

.footer__nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
}

.footer__nav ul{
  display: flex;
  margin: 0;
  padding: 0;
}

.footer__nav li{
  list-style: none;
}

.footer__nav li a{
  text-decoration: none;
  font-weight: var(--nav-link-font-weight);
  margin: 0 3rem;
}

.footer__nav li a:visited, .footer__heading:visited{
  color: black
}

.footer__description{
  text-align: center;
  font-size: 1.2rem;
}

.footer__copyright{
  font-weight: 100;
  font-size: 0.75rem;
  padding: 0 2rem;
}