<div class="form__panel">
  <div class="form__header">
    <h1 class="heading heading--white">Dodaj zadanie</h1>
  </div>
  <div class="form__box">
    <form action="/tasks/add" method="post">
      <label>
        <div class="wrapper">
          <div class="input-data">
            <input type="text" name="name"/>
            <label>Nazwa zadania</label>
          </div>
        </div>
      </label>
      <label>
        <div class="wrapper">
          <div class="textarea-data">
            <textarea name="description" cols="30" rows="10" maxlength="500"></textarea>
            <label>Opis zadania</label>
          </div>
        </div>
      </label>
      <label>
        <div class="wrapper">
          <label>Termin wykonania zadania</label>
          <div>
            <input type="datetime-local" name="completion_date" step="1"/>
          </div>
        </div>
      </label>
      <label>
        <div class="wrapper">
          <label>Status zadania</label>
          <div class="select">
            <select name="status" id="status">
              <option value="not-started">Do zrobienia</option>
              <option value="in-progress">W trakcie</option>
              <option value="done">Zakończone</option>
            </select>
          </div>
        </div>
        <br>
      </label>
      <div class="wrapper wrapper__button">
        <button class="button">Dodaj</button>
      </div>
    </form>
  </div>
</div>
