<form action="/tasks/add" method="post">
  <label>
    <span>Nazwa zadania</span>
    <div>
      <input type="text" name="name" id=""/>
    </div>
  </label>
  <label>
    <span>Opis zadania</span>
    <div>
      <textarea name="description" id="" cols="30" rows="10" maxlength="500">
        
      </textarea>
    </div>
  </label>
  <label>
    <span>termin wykonania zadania</span>
    <div>
      <input type="datetime-local" name="completion_date" id="" step="1"/>
    </div>
  </label>
  <label>
    <span>status zadania</span>
    <div class="select">
      <select name="status" id="status">
        <option value="not-started">Do zrobienia</option>
        <option value="in-progress">W trakcie</option>
        <option value="done">Zakończone</option>
      </select>
    </div>
    <br>
  </label>
  <button class="button">Dodaj</button>
</form>