<form action="/tasks/add" method="post">
  <label>
    <span>Nazwa zadania</span>
    <div>
      <input type="text" name="name" id=""/>
    </div>
  </label>
  <label>
    <span>Opis zadania</span>
    <div>
      <textarea name="description" id="" cols="30" rows="10" maxlength="500">
        
      </textarea>
    </div>
  </label>
  <label>
    <span>termin wykonania zadania</span>
    <div>
      <input type="date" name="completion_date" id=""/>
    </div>
  </label>
  <label>
    <span>status zadania</span>
    <div>
      <select name="status" id="status">
        <option value="not-started">Not Started</option>
        <option value="in-progress">In Progress</option>
        <option value="done">Done</option>
      </select>
    </div>
  </label>
  <button>dodaj</button>
</form>