<% if(locals.task) { %>
  <div class="task__panel">
    <div class="task__header">
      <h1 class="heading heading--white"><%= task.name %></h1>
    </div>
    <div class="task__box">
      <h3 class="task__heading task__heading--center">Opis zadania:</h3>
      <p class="task__paragraph--center task__paragraph--margin-bottom"><%= task.description %></p>
      <p class="task__paragraph--center">
        <span class="task__paragraph--green">termin: </span>
        <%= task.completion_date %>
      </p>
      <p class="task__paragraph--center">
        <span class="task__paragraph--green">status: </span>
        <%= task.status %>
      </p>
    </div>
  </div>
<% } else { %>
  <h1 class="task__heading--center">No task with this id exists!</h1>
<% } %>