<footer class="footer">
  <nav class="footer__nav">
    <a class="footer__heading" href="/">Todo-app</a>
    <ul>
      <li><a class="footer__link" href="/faq">FAQ</a></li>
      <li><a class="footer__link" href="/about">About</a></li>
    </ul>
  </nav>
  <p class="footer__description">Dołącz do osób, które osiągają wspaniałe rzeczy dzięki Todo-app.</p>
  <p class="footer__copyright">© KMK Inc.</p>
</footer>