<header class="header">
  <nav class="header__nav">
    <a class="header__heading" href="/">Todo-app</a>
    <ul>
      <li><a class="header__link" href="/faq">FAQ</a></li>
      <li><a class="header__link" href="/about">About</a></li>
      <li><a class="header__link" href="/tasks">Zadania</a></li>
      <li><a class="header__link" href="/account">Konto</a></li>
    </ul>
  </nav>
</header>