/*Importing fonts, variables etc.*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600&display=swap');
@import 'shared/variables.css';
@import 'shared/header.css';
@import 'shared/footer.css';
@import 'shared/datetime.css';
@import 'shared/select.css';
@import 'shared/text.css';
@import 'shared/textarea.css';

:root{
  font-family: 'DM Sans', sans-serif;
  font-size: 20px;
}

*, *::before, *::after{
  box-sizing: border-box;
}


.container{
  max-width: 1400px;
  min-height: 90vh;
  margin: auto;
  margin-bottom: 3rem;
}

.container--flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

.container__panel--inner{
  margin: 4rem;
}

.heading{
  font-size: 3rem;
  text-align: center;
  margin: 0 6rem;
}

.heading--medium{
  font-size: 4.5rem;
}

.heading--big{
  font-size: 7rem;
}

.text--white{
  color: white;
}

.text--shadow{
  text-shadow: 4px 4px 10px rgba(66, 68, 90, 1);
}

.paragraph--big{
  font-size: 2rem;
}

.panel__paragraph{
  text-align: center;
  font-weight: 200;
}

.panel__paragraph--margin{
  margin: 1rem 10rem;
}

.button{
  background-color: var(--color-button-green);
  padding: 0.75rem;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border: none;
  font-size: 18px;
  min-width: 11rem;
  cursor: pointer;
}

.panel__button--sign-in{
  text-decoration: none;
  margin: auto;
  display: flex;
  justify-content: center;
  max-width: 10rem;
}

.box{
  margin: 6rem 0;
  max-width: 1400px;
  display: flex;
  justify-content: center;
}

.heading--secondary{
  font-size: 2rem;
  text-align: center;
  color: var(--color-text-green);
  margin: 0 6rem;
}

.paragraph{
  text-align: center;
  font-weight: 200;
  margin: 1rem 10rem;
}

.panel--flex{
  display: flex;
  margin: 4rem 0;
}

.panel__box--left{
  display: inline-block;
  width: 50%;
  padding: 1.5rem;
}

.panel__box--border-right{
  border-right: 1px solid var(--color-text-green);
}

.panel__image{
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel__heading{
  font-size: 2rem;
}

.panel__box--left ol li{
  margin: 3rem 0;
}

.panel__box--left ol li h4{
  color: var(--color-text-green);
}

.heading__quote{
  text-align: center;
  margin: 6rem 10rem 0;
  font-size: 2rem;
}

.heading__quoteAuthor{
  text-align: center;
}


/* FAQ */

.faq{
  min-height: 60vh;
  max-width: 700px;
  list-style: none;
  margin: 0 auto;
}

.faq li{
  background-color: white;
}

.faq li:first-child{
  margin-top: 4rem;
}

.dropdown{
  padding: 1rem;
  margin: 0.5rem 0;
  cursor: pointer;
  border-left: 10px solid white;
}

.dropdown:hover + .dropdown__description{
  height: 5rem;
}

.dropdown:hover .arrow{
  border-left: 10px solid var(--color-button-green);
  transform: rotate(90deg);
}

.arrow{
  display: inline-block;
  margin: 0 0.5rem;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-left: 10px solid black;
  border-bottom: 6px solid transparent;
  transition: 0.2s;
}

.faq p{
  line-height: 25px;
  font-weight: 200;
}

.dropdown__description{
  overflow: hidden;
  margin: 0 0.5rem;
  height: 0;
  transition: 0.5s;
}

/* About page */

.panel--margin{
  margin: 8rem 10rem 0 10rem;
}

.panel__image--round{
  border-radius: 1rem;
}

.panel__heading{
  margin-top: 0;
}

.panel__text--upper{
  font-weight: bold;
  color: var(--color-text-upper);
}

.panel__text--color-green{
  color: var(--color-text-green);
}

.panel__paragraph--align-left{
  text-align: left;
}
/* Page not found */

.container__panel--image{
  width: 70rem;
  height: 40rem;
  padding: 3rem;
  border-radius: 1rem;
}

.container--shadow{
  -webkit-box-shadow: 4px 4px 50px 5px rgba(66, 68, 90, 1);
  -moz-box-shadow: 4px 4px 50px 5px rgba(66, 68, 90, 1);
  box-shadow: 4px 4px 50px 5px rgba(66, 68, 90, 1);
}

.button--not-found{
  background: transparent;
  padding: 0.75rem;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border: 2.5px solid white;
  font-size: 22px;
  min-width: 11rem;
  cursor: pointer;
  text-decoration: none;
  margin: auto;
  display: flex;
  justify-content: center;
  max-width: 10rem;
}

.button__panel{
  margin-top: 5rem;
}

.container__panel--green{
  background-color: rgba(0, 46, 6, 0.5);
  padding: 1rem;
  border-radius: 3rem;
  -webkit-box-shadow: 4px 4px 50px 5px rgba(66, 68, 90, 1);
  -moz-box-shadow: 4px 4px 50px 5px rgba(66, 68, 90, 1);
  box-shadow: 4px 4px 50px 5px rgba(66, 68, 90, 1);
}

/*Tasks*/

.task{
  margin: 2rem 1rem;
  padding: 1rem;
  border: 2px solid black;
  width: 45%;
  display: inline-block;
  border-radius: 10px;
  position: relative;
}

.task__icons{
  display: flex;
  position: absolute;
  right: 10px;
  top: 10px;
}

.task__heading{
  color: var(--color-text-green);
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  margin-left: 5px;
}

.task__text{
  margin: 0 5px;
}

.fa-trash{
  color: red;
  font-size: 25px;
  margin: 0 10px;
}

.fa-pen-to-square{
  color: orange;
  font-size: 25px;
  margin: 0 10px;
}

.task__button--decoration-none{
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  appearance: none;
  cursor: pointer;
}

.heading--light{
  font-weight: 100;
  color: var(--task-heading-color);
  text-align: center;
  margin: 10rem 0;
}

.container__select{
  top: -2rem;
  margin: auto;
}

/* Task add and edit page*/

.form__panel{
  margin: auto;
  box-shadow: 0px 0px 8px 5px #888888;
  border-radius: 10px;
  min-height: 300px;
  max-width: 1000px;
}

.form__header{
  border-radius: 10px;
  background-color: var(--color-button-green-dark);
  padding: 1rem;
}

.form__box{
  margin: 2rem;
}

.wrapper__button{
  margin: 0 16rem;
}
