/*Importing fonts, variables etc.*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600&display=swap');
@import 'shared/variables.css';
@import 'shared/header.css';
@import 'shared/footer.css';

:root{
  font-family: 'DM Sans', sans-serif;
  font-size: 20px;
}

*, *::before, *::after{
  box-sizing: border-box;
}


.container{
  max-width: 1400px;
  min-height: 60vh;
  margin: auto;
  margin-bottom: 3rem;
}

.container__panel--inner{
  margin: 4rem;
}

.heading{
  font-size: 3rem;
  text-align: center;
  margin: 0 6rem;
}

.panel__paragraph{
  text-align: center;
  font-weight: 200;
}

.panel__paragraph--margin{
  margin: 1rem 10rem;
}

.button{
  background-color: var(--color-button-green);
  padding: 0.75rem;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border: none;
  font-size: 18px;
  min-width: 11rem;
  cursor: pointer;
}

.panel__button--sign-in{
  text-decoration: none;
  margin: auto;
  display: flex;
  justify-content: center;
  max-width: 10rem;
}

.box{
  margin: 6rem 0;
  max-width: 1400px;
  display: flex;
  justify-content: center;
}

.heading--secondary{
  font-size: 2rem;
  text-align: center;
  color: var(--color-text-green);
  margin: 0 6rem;
}

.paragraph{
  text-align: center;
  font-weight: 200;
  margin: 1rem 10rem;
}

.panel--flex{
  display: flex;
  margin: 4rem 0;
}

.panel__box--left{
  display: inline-block;
  width: 50%;
  padding: 1.5rem;
}

.panel__box--border-right{
  border-right: 1px solid var(--color-text-green);
}

.panel__image{
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel__heading{
  font-size: 2rem;
}

.panel__box--left ol li{
  margin: 3rem 0;
}

.panel__box--left ol li h4{
  color: var(--color-text-green);
}

.heading__quote{
  text-align: center;
  margin: 6rem 10rem 0;
  font-size: 2rem;
}

.heading__quoteAuthor{
  text-align: center;
}


/*FAQ*/

.faq{
  min-height: 60vh;
  max-width: 700px;
  list-style: none;
  margin: 0 auto;
}

.faq li{
  background-color: white;
}

.faq li:first-child{
  margin-top: 4rem;
}

.dropdown{
  padding: 1rem;
  margin: 0.5rem 0;
  cursor: pointer;
  border-left: 10px solid white;
}

.dropdown:hover + .dropdown__description{
  height: 5rem;
}

.dropdown:hover .arrow{
  border-left: 10px solid var(--color-button-green);
  transform: rotate(90deg);
}

.arrow{
  display: inline-block;
  margin: 0 0.5rem;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-left: 10px solid black;
  border-bottom: 6px solid transparent;
  transition: 0.2s;
}

.faq p{
  line-height: 25px;
  font-weight: 200;
}

.dropdown__description{
  overflow: hidden;
  margin: 0 0.5rem;
  height: 0;
  transition: 0.5s;
}