select{
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0!important;
  background: var(--color-button-green);
  background-image: none;
  font-size: 1rem;
  font-weight: bold;
}

select::-ms-expand{
  display: none;
}

.select{
  position: relative;
  display: flex;
  width: 19.5rem;
  height: 3rem;
  line-height: 3;
  background: var(--color-button-green);
  overflow: hidden;
  border-radius: .25rem;
  color: white;
}

select{
  flex:1;
  padding: 0 .5rem;
  color: white;
  cursor: pointer;
}

.select::after{
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1rem;
  background: var(--color-button-green-dark);
  cursor: pointer;
  pointer-events: none;
  transition: 0.2 all ease;
}