/*Importing fonts, variables etc.*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600&display=swap');
@import 'shared/variables.css';
@import 'shared/header.css';
@import 'shared/footer.css';

:root{
  font-family: 'DM Sans', sans-serif;
  font-size: 20px;
}

*, *::before, *::after{
  box-sizing: border-box;
}

.container{
  max-width: 1400px;
  min-height: 600px;
  margin: auto;
  margin-bottom: 3rem;
}

.container__panel--inner{
  margin: 0 4rem;
}

.heading{
  font-size: 3rem;
  text-align: center;
  margin: 0 6rem;
}

.panel__paragraph{
  text-align: center;
  font-weight: 200;
  margin: 1rem 10rem;
}

.button{
  background-color: var(--color-button-green);
  padding: 0.75rem;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.panel__button--sign-in{
  text-decoration: none;
  margin: auto;
  display: flex;
  justify-content: center;
  max-width: 10rem;
}

.box{
  margin: 6rem 0;
  max-width: 1400px;
  display: flex;
  justify-content: center;
}

.heading--secondary{
  font-size: 2rem;
  text-align: center;
  color: var(--color-text-green);
  margin: 0 6rem;
}

.paragraph{
  text-align: center;
  font-weight: 200;
  margin: 1rem 10rem;
}

.panel--flex{
  display: flex;
  margin: 4rem 0;
}

.panel__box--left{
  display: inline-block;
  width: 50%;
  border-right: 1px solid var(--color-text-green);
  padding: 1rem;
}

.panel__image{
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.panel__heading{
  font-size: 2rem;
}

.panel__box--left ol li{
  margin: 3rem 0;
}

.panel__box--left ol li h4{
  color: var(--color-text-green);
}

.heading__quote{
  text-align: center;
  margin: 6rem 10rem 0;
  font-size: 2rem;
}

.heading__quoteAuthor{
  text-align: center;
}

/*Task index page*/

.task{
  margin: 2rem 1rem;
  padding: 1rem;
  border: 2px solid black;
  width: 45%;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 6px 6px 8px #888888;
  position: relative;
}

.task__icons{
  display: flex;
  position: absolute;
  right: 10px;
  top: 10px;
}

.task__heading{
  color: var(--color-text-green);
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  margin-left: 5px;
}

.task__text{
  margin: 0 5px;
}

.fa-trash{
  color: red;
  font-size: 25px;
  margin: 0 10px;
}

.fa-pen-to-square{
  color: orange;
  font-size: 25px;
  margin: 0 10px;
}

.task__button--decoration-none{
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  appearance: none;
  cursor: pointer;
}

.heading--light{
  font-weight: 100;
  color: var(--task-heading-color);
  text-align: center;
  margin: 10rem 0;
}

/*Tasks*/

.heading--white{
  color: white;
}

.task__panel{
  margin: auto;
  box-shadow: 0px 0px 8px 5px #888888;
  border-radius: 10px;
  min-height: 300px;
}

.task__header{
  border-radius: 10px;
  background-color: var(--task-header-background-color);
  padding: 1rem;
}

.task__paragraph--center{
  margin: 0;
  text-align: center;
}

.task__heading--center{
  text-align: center;
  margin: 0;
  margin-top: 1rem;
}

.task__box{
  margin: 1rem 10rem;
}

.task__paragraph--margin-bottom{
  margin-bottom: 1rem;
}

.task__paragraph--green{
  color: var(--color-text-green);
  font-weight: bold;
}